name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '41 5 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
